@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600;700&display=swap');

/* basic base setting */

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height:125%;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight:400;
 }



/* besic style in whole web page */
/* section and artile title styles */
.title {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-size: 28px;
    text-transform: capitalize;

}

.section-title {
    display:inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight:700;
    line-height: 125%;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin: 15px 0;
    
}

.paragraph {
    font-size:15px;
    font-weight:400;
}

/* color wariations> text and background */
.green-text{
    color:#74C69D;
}

.greenbg {
    color:white;
    background-color: #74C69D;
}

.whitebg{
    background-color: white;
    color:black;
}

.blackbg{
    background-color:black;
    color:white;
}